---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
	firstName: "Juan",
	country: "Mexico",
	occupation: "Software Test Automation Engineer",
	defaultHobby: "programming",
};

const skills = ["test automation", "robotic process automation"];
---

<style>
	.skill {
		width: fit-content;
		background-color: var(--primary-color);
		color: var(--dark-color);
		font-weight: bold;
		list-style: none;
		padding: 2px 8px;
		border-radius: 16px;
		display: inline-block;
	}
	.skill:not(:last-child) {
		margin-right: 8px;
		margin-bottom: 8px;
	}
</style>
<BaseLayout pageTitle={pageTitle} activeItem="about">
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		<li>One of my favorite hobbies is <span id="hobby">{identity.defaultHobby}</span>.</li>
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>

<script is:inline>
	const hobbies = ['programming', 'watching movies', 'playing flag football', 'playing Halo'];

	document.getElementById('hobby').innerText = hobbies[Math.floor(Math.random() * hobbies.length)];
</script>
